# Discord API token from the Discord Developer Portal
TOKEN= (api token)
CLIENT_ID= (app id)
GUILD_ID= (discord server id)
#Used for retrieving info from Discord for WebApp
INFO_TOKEN=

# Customizable currency settings
CURRENCY_NAME=           # The name of your currency (e.g., bolts, gems, coins)
CURRENCY_SYMBOL=         # The symbol of your currency (e.g., ⚡, 💎, 🪙)

#Automatic Message rewards
MESSAGE_REWARD_CHANNELS=
MESSAGE_REWARD_AMOUNT=8
MESSAGE_REWARD_LIMIT=8
REACTION_REWARD_CHANNEL=1015076041934520330  # Channel where reaction rewards are given
REACTION_REWARD_AMOUNT=10                   # Amount given for reacting once per day

# Customizable help command
HELP_COMMAND=            # The command name for the help message (e.g., pizzahelp)

# Database configuration (if applicable)
DB_FILE=database.db      # Path to the SQLite database file

# Additional bot settings
PREFIX=$                 # Command prefix for the bot (e.g., $, !, ?)
BOT_NAME=

# Web App
SERVER_PORT=3003
